$time-transition: .3s;
$light-red: #F63663;
$light-red-hvr: #d8335b;
$purple: #F63665;
$blue: #242538;
$dark-blue: #242539;
$white: #fff;
// ------------------------------------

$header-zindex: 1030;
$main-sidebar-zindex: 1020;
$blind-zindex: 1010;

// layout
$sidebar-main: #242539;