body {
	height: 100%;
}

div {
	color: #f53663;
	font-size: 90px;
	font-size: 5.9vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

path {
    fill: #f53663 !important;
}