.ali-modal {
    button,
    a {
        &.fz13 {
            padding-bottom: 9px;
        }
    }
    .modal-header {
        .close {
            opacity: 1;
            outline: none !important;

            &:hover {
                opacity: 0.8;
            }
        }

        .icon-ic-close-24px:before {
            color: #242539;
        }
    }

    &--style-great {
        .modal-footer {
            button {
                padding-top: 15px;
                padding-bottom: 20px;

                [class^="icon-"] {
                    font-size: 30px;
                }
            }
        }
    }

    &--style-get-review {
        .modal-footer {
            padding-left: 45px !important;
            padding-right: 45px !important;

            button {
                width: 130px;
            }
        }

        .select2-selection__rendered {
            font-weight: 600;
        }
    }
}
