.preview-badge-page {
	.item-widget-at,
	.item-badge-at {
		margin-bottom: 40px;

		img {
			max-width: 100%;
		}

		.wrap-custom-box {
			padding-left: 0;
		}

		.checkmark-rdb {
			bottom: -45px;
			top: inherit;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.item-badge-at {
		max-width: 190px;
	}

	.item-widget-at {
		max-width: 315px;
	}
}