<h1>Button</h1>
<p>Commonly used button.</p>
<br>

<h4>Basic usage</h4>
<div>
  <button class="button">button</button>
  <button class="button button--default">default</button>
  <button class="button button--primary">primary</button>
  <button class="button button--pink">pink</button>
</div>

<div class="encodeHTML-wrap">
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
<li role="presentation" class="active"><a href="#HTML" aria-controls="HTML" role="tab" data-toggle="tab">HTML</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
<!-- HTML -->
<div role="tabpanel" class="encodeHTML tab-pane active" id="HTML">
<button class="button">button</button>
<button class="button button--default">default</button>
<button class="button button--primary">primary</button>
<button class="button button--pink">pink</button>
</div>
<!-- /HTML -->
</div>
</div>

<div>
  <button class="button flat">button</button>
  <button class="button button--default flat">default</button>
  <button class="button button--primary flat">primary</button>
  <button class="button button--pink flat">pink</button>
</div>

<div class="encodeHTML-wrap">
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
<li role="presentation" class="active"><a href="#HTML" aria-controls="HTML" role="tab" data-toggle="tab">HTML</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
<!-- HTML -->
<div role="tabpanel" class="encodeHTML tab-pane active" id="HTML">
<button class="button flat">button</button>
<button class="button button--default flat">default</button>
<button class="button button--primary flat">primary</button>
<button class="button button--pink flat">pink</button>
</div>
<!-- /HTML -->
</div>
</div>

<br>
<div>
  <button class="button">button</button>
  <button class="button button--default outline">default</button>
  <button class="button button--primary outline">primary</button>
  <button class="button button--pink outline">pink</button>
</div>
<div class="encodeHTML-wrap">
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
<li role="presentation" class="active"><a href="#HTML" aria-controls="HTML" role="tab" data-toggle="tab">HTML</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
<!-- HTML -->
<div role="tabpanel" class="encodeHTML tab-pane active" id="HTML">
<button class="button">button</button>
<button class="button button--default outline">default</button>
<button class="button button--primary outline">primary</button>
<button class="button button--pink outline">pink</button>
</div>
<!-- /HTML -->
</div>
</div>

<div>
  <button class="button rounded">button</button>
  <button class="button button--default outline rounded">default</button>
  <button class="button button--primary outline rounded">primary</button>
  <button class="button button--pink outline rounded">pink</button>
</div>
<div class="encodeHTML-wrap">
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
<li role="presentation" class="active"><a href="#HTML" aria-controls="HTML" role="tab" data-toggle="tab">HTML</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
<!-- HTML -->
<div role="tabpanel" class="encodeHTML tab-pane active" id="HTML">
<button class="button rounded">button</button>
<button class="button button--default outline rounded">default</button>
<button class="button button--primary outline rounded">primary</button>
<button class="button button--pink outline rounded">pink</button>
</div>
<!-- /HTML -->
</div>
</div>

<div>
  <button class="button"><i class="material-icons">&#xE87C;</i></button>
  <button class="button button--default"><i class="material-icons">&#xE87C;</i></button>
  <button class="button button--primary"><i class="material-icons">&#xE87C;</i></button>
  <button class="button button--pink"><i class="material-icons">&#xE87C;</i></button>
</div>
<div class="encodeHTML-wrap">
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
<li role="presentation" class="active"><a href="#HTML" aria-controls="HTML" role="tab" data-toggle="tab">HTML</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
<!-- HTML -->
<div role="tabpanel" class="encodeHTML tab-pane active" id="HTML">
<button class="button"><i class="material-icons">&#xE87C;</i></button>
<button class="button button--default"><i class="material-icons">&#xE87C;</i></button>
<button class="button button--primary"><i class="material-icons">&#xE87C;</i></button>
<button class="button button--pink"><i class="material-icons">&#xE87C;</i></button>
</div>
<!-- /HTML -->
</div>
</div>

<h4>Text button</h4>
<div>
  <button class="button link">button</button>
  <button class="button button--default link">default</button>
  <button class="button button--primary link">primary</button>
  <button class="button button--pink link">pink</button>
</div>
<div class="encodeHTML-wrap">
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
<li role="presentation" class="active"><a href="#HTML" aria-controls="HTML" role="tab" data-toggle="tab">HTML</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
<!-- HTML -->
<div role="tabpanel" class="encodeHTML tab-pane active" id="HTML">
<button class="button link">button</button>
<button class="button button--default link">default</button>
<button class="button button--primary link">primary</button>
<button class="button button--pink link">pink</button>
</div>
<!-- /HTML -->
</div>
</div>

<br>
<h4>Disabled Button</h4>
<div>
  <button class="button" disabled>button</button>
  <button class="button button--default" disabled>default</button>
  <button class="button button--primary" disabled>primary</button>
  <button class="button button--pink" disabled>pink</button>
</div>
<br>

<div>
  <button class="button flat" disabled>button</button>
  <button class="button button--default flat" disabled>default</button>
  <button class="button button--primary flat" disabled>primary</button>
  <button class="button button--pink flat" disabled>pink</button>
</div>
<br>

<div>
  <button class="button" disabled>button</button>
  <button class="button button--default outline" disabled>default</button>
  <button class="button button--primary outline" disabled>primary</button>
  <button class="button button--pink outline" disabled>pink</button>
</div>
<br>

<div>
  <button class="button rounded" disabled>button</button>
  <button class="button button--default outline rounded" disabled>default</button>
  <button class="button button--primary outline rounded" disabled>primary</button>
  <button class="button button--pink outline rounded" disabled>pink</button>
</div>
<br>

<div>
  <button class="button" disabled><i class="material-icons">&#xE87C;</i></button>
  <button class="button button--default" disabled><i class="material-icons">&#xE87C;</i></button>
  <button class="button button--primary" disabled><i class="material-icons">&#xE87C;</i></button>
  <button class="button button--pink" disabled><i class="material-icons">&#xE87C;</i></button>
</div>
<br>

<div class="encodeHTML-wrap">
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
<li role="presentation" class="active"><a href="#HTML" aria-controls="HTML" role="tab" data-toggle="tab">HTML</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
<!-- HTML -->
<div role="tabpanel" class="encodeHTML tab-pane active" id="HTML">
<div>
    <button class="button" disabled>button</button>
    <button class="button button--default" disabled>default</button>
    <button class="button button--primary" disabled>primary</button>
    <button class="button button--pink" disabled>pink</button>
  </div>
  <br>
  
  <div>
    <button class="button flat" disabled>button</button>
    <button class="button button--default flat" disabled>default</button>
    <button class="button button--primary flat" disabled>primary</button>
    <button class="button button--pink flat" disabled>pink</button>
  </div>
  <br>
  
  <div>
    <button class="button" disabled>button</button>
    <button class="button button--default outline" disabled>default</button>
    <button class="button button--primary outline" disabled>primary</button>
    <button class="button button--pink outline" disabled>pink</button>
  </div>
  <br>
  
  <div>
    <button class="button rounded" disabled>button</button>
    <button class="button button--default outline rounded" disabled>default</button>
    <button class="button button--primary outline rounded" disabled>primary</button>
    <button class="button button--pink outline rounded" disabled>pink</button>
  </div>
  <br>
  
  <div>
    <button class="button" disabled><i class="material-icons">&#xE87C;</i></button>
    <button class="button button--default" disabled><i class="material-icons">&#xE87C;</i></button>
    <button class="button button--primary" disabled><i class="material-icons">&#xE87C;</i></button>
    <button class="button button--pink" disabled><i class="material-icons">&#xE87C;</i></button>
  </div>
</div>
<!-- /HTML -->
</div>
</div>

<h4>Icon Button</h4>
<div>
  <button class="button icon left"><i class="material-icons">&#xE87C;</i> Left</button>
  <button class="button button--default icon right">Right <i class="material-icons">&#xE87C;</i></button>
</div>
<div class="encodeHTML-wrap">
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
<li role="presentation" class="active"><a href="#HTML" aria-controls="HTML" role="tab" data-toggle="tab">HTML</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
<!-- HTML -->
<div role="tabpanel" class="encodeHTML tab-pane active" id="HTML">
<!-- Left -->
<button class="button icon left">
  <i class="material-icons">&#xE87C;</i> 
  Left
</button>

<!-- Right -->
<button class="button button--default icon right">
  Right 
  <i class="material-icons">&#xE87C;</i>
</button>
</div>
<!-- /HTML -->
</div>
</div>

<h4>Sizes</h4>
<div>
  <button class="button button--default button--lg">large</button>
  <button class="button button--default">default</button>
  <!-- <button class="button button--default button--md">medium</button> -->
  <!-- <button class="button button--default button--sm">small</button> -->
  <button class="button button--default button--xs">mini</button>
</div>
<div class="encodeHTML-wrap">
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
<li role="presentation" class="active"><a href="#HTML" aria-controls="HTML" role="tab" data-toggle="tab">HTML</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
<!-- HTML -->
<div role="tabpanel" class="encodeHTML tab-pane active" id="HTML">
<button class="button button--default button--lg">large</button>
<button class="button button--default">default</button>
<button class="button button--default button--xs">mini</button>
</div>
<!-- /HTML -->
</div>
</div>