<h1>Colorpicker</h1>
<br>

<div class="alert alert-info">
  <p>[CSS]</p>
  <b>../sources/bootstrap-colorpicker/bootstrap-colorpicker.min.css</b>
  <br><br>
  <p>[JS]</p>
  <b>../sources/bootstrap-colorpicker/bootstrap-colorpicker.min.js</b>
</div>

<br>
<h4>Basic usage</h4>
<div class="form-group">
  <div class="input-group colorpicker-init bd-0">
    <span class="input-group-addon bd-r-0">
      <i></i>
    </span>
    <input type="text" class="form-control pad-l-0 bd-l-0" value="#F63665" />
  </div>
</div>
<!-- ============================================ -->
<div class="encodeHTML-wrap">
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
<li role="presentation" class="active"><a href="#HTML" aria-controls="HTML" role="tab" data-toggle="tab">HTML</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
<!-- HTML -->
<div role="tabpanel" class="encodeHTML tab-pane active" id="HTML">
<div class="form-group">
  <div class="input-group colorpicker-init bd-0">
    <span class="input-group-addon_ bd-r-0"></span>

    <input type="text" class="form-control pad-l-0 bd-l-0" value="#F63665" />
  </div>
</div>
</div>
<!-- /HTML -->
</div>
</div>
<!-- ============================================ -->

<h4>Rounded</h4>
<div class="form-group">
  <div class="input-group colorpicker-init bd-0">
    <span class="input-group-addon rounded bd-r-0">
      <i></i>
    </span>
    <input type="text" class="form-control pad-l-0 bd-l-0" value="#F63665" />
  </div>
</div>
<!-- ============================================ -->
<div class="encodeHTML-wrap">
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
<li role="presentation" class="active"><a href="#HTML" aria-controls="HTML" role="tab" data-toggle="tab">HTML</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
<!-- HTML -->
<div role="tabpanel" class="encodeHTML tab-pane active" id="HTML">
<div class="form-group">
  <div class="input-group colorpicker-init bd-0">
    <span class="input-group-addon_ rounded"><i></i></span>

    <input type="text" class="form-control pad-l-0 bd-l-0" value="#F63665" />
  </div>
</div>
</div>
<!-- /HTML -->
</div>
</div>
<!-- ============================================ -->

<h4>Right</h4>
<div class="form-group">
  <div class="input-group colorpicker-init bd-0">
    <input type="text" class="form-control bd-r-0" value="#F63665" />
    <span class="input-group-addon bd-l-0">
      <i></i>
    </span>
  </div>
</div>
<!-- ============================================ -->
<div class="encodeHTML-wrap">
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
<li role="presentation" class="active"><a href="#HTML" aria-controls="HTML" role="tab" data-toggle="tab">HTML</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
<!-- HTML -->
<div role="tabpanel" class="encodeHTML tab-pane active" id="HTML">
<div class="form-group">
  <div class="input-group colorpicker-init bd-0">
    <input type="text" class="form-control bd-r-0" value="#F63665" />

    <span class="input-group-addon_ bd-l-0"></span>
  </div>
</div>
</div>
<!-- /HTML -->
</div>
</div>
<!-- ============================================ -->

<h4>Javascript</h4>
<!-- ============================================ -->
<div class="encodeHTML-wrap">
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
<li role="presentation" class="active"><a href="#HTML" aria-controls="HTML" role="tab" data-toggle="tab">JS</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
<!-- HTML -->
<div role="tabpanel" class="encodeHTML tab-pane active" id="HTML">
$(document).ready(function () {
  colorpicker();
});
</div>
<!-- /HTML -->
</div>
</div>
<!-- ============================================ -->