<h1>Dropdown</small></h1>
<br>

<h4>Basic usage</h4>
<div class="form-group">
  <div class="dropdown dropdown--default">
    <button class="button button--default dropdown-toggle dropdown--caret dropdown--demo" type="button" data-toggle="dropdown">
      <span class="dropdown--demo__show"></span>
      <span>Default</span>
    </button>

    <div class="dropdown-menu dropdown-menu--rdb dropdown-menu--single">
      <label>
        <input type="radio" name="rdb-single">
        <img src="http://via.placeholder.com/22x22" alt=""> Lorem ipsum dolor sit amet.
      </label>

      <label>
        <input type="radio" name="rdb-single">
        <img src="http://via.placeholder.com/22x22" alt=""> Lorem ipsum dolor sit amet.
      </label>
      <div class="divider">Lorem ipsum.</div>

      <label>
        <input type="radio" name="rdb-single">
        <img src="http://via.placeholder.com/22x22" alt=""> Lorem ipsum dolor sit amet.
      </label>
      <div class="dropdown-header">Lorem ipsum.</div>
      <label>
        <input type="radio" name="rdb-single">
        <img src="http://via.placeholder.com/22x22" alt=""> Lorem ipsum dolor sit amet.
      </label>
    </div>
  </div>
</div>
<!-- ============================================ -->
<div class="encodeHTML-wrap">
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
<li role="presentation" class="active"><a href="#HTML" aria-controls="HTML" role="tab" data-toggle="tab">HTML</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
<!-- HTML -->
<div role="tabpanel" class="encodeHTML tab-pane active" id="HTML">
<div class="form-group">
  <div class="dropdown dropdown--default">
    <button class="button button--default dropdown-toggle dropdown--caret dropdown--demo" type="button" data-toggle="dropdown">
      <span class="dropdown--demo__show"></span>
      <span>Default</span>
    </button>

    <div class="dropdown-menu dropdown-menu--rdb dropdown-menu--single">
      <label>
        <input type="radio" name="rdb-single">
        <img src="" alt=""> Text
      </label>

      <label>
        <input type="radio" name="rdb-single">
        <img src="" alt=""> Text
      </label>
      <div class="divider">Lorem ipsum.</div>

      <label>
        <input type="radio" name="rdb-single">
        <img src="" alt=""> Text
      </label>
      <div class="dropdown-header">Lorem ipsum.</div>
      <label>
        <input type="radio" name="rdb-single">
        <img src="" alt=""> Text
      </label>
    </div>
  </div>
</div>
</div>
<!-- /HTML -->
</div>
<!-- ============================================ -->
<br>

<h4>Dropdown right</h4>
<div class="dropdown dropdown--horizontal">
  <button class="button button--default dropdown-toggle" type="button" data-toggle="dropdown">
      <span>Drop right</span>
  </button>

  <div class="dropdown-menu dropdown-menu--rdb dropdown-menu--top dropdown-menu--right">
    <div class="drop-rdb_1">
      <label>
          <input type="radio" name="rdb">
          <img src="http://via.placeholder.com/22x22" alt="">
      </label>

      <label>
          <input type="radio" name="rdb">
          <img src="http://via.placeholder.com/22x22" alt="">
      </label>

      <label>
          <input type="radio" name="rdb">
          <img src="http://via.placeholder.com/22x22" alt="">
      </label>

      <label>
          <input type="radio" name="rdb">
          <img src="http://via.placeholder.com/22x22" alt="">
      </label>

      <label>
          <input type="radio" name="rdb">
          <img src="http://via.placeholder.com/22x22" alt="">
      </label>

      <label>
          <input type="radio" name="rdb">
          <img src="http://via.placeholder.com/22x22" alt="">
      </label>

      <label>
          <input type="radio" name="rdb">
          <img src="http://via.placeholder.com/22x22" alt="">
      </label>

      <label>
          <input type="radio" name="rdb">
          <img src="http://via.placeholder.com/22x22" alt="">
      </label>

      <label>
          <input type="radio" name="rdb">
          <img src="http://via.placeholder.com/22x22" alt="">
      </label>

      <label>
          <input type="radio" name="rdb">
          <img src="http://via.placeholder.com/22x22" alt="">
      </label>
    </div>
  </div>
</div>
<!-- ============================================ -->
<div class="encodeHTML-wrap">
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
<li role="presentation" class="active"><a href="#HTML" aria-controls="HTML" role="tab" data-toggle="tab">HTML</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
<!-- HTML -->
<div role="tabpanel" class="encodeHTML tab-pane active" id="HTML">
<div class="dropdown dropdown--horizontal">
  <button class="button button--default dropdown-toggle" type="button" data-toggle="dropdown">
    <span>Drop right</span>
  </button>

  <div class="dropdown-menu dropdown-menu--rdb dropdown-menu--top dropdown-menu--right">
    <div class="drop-rdb_1">
      <label>
        <input type="radio" name="rdb">
        <img src="" alt="">
      </label>

      <label>
        <input type="radio" name="rdb">
        <img src="" alt="">
      </label>

      <label>
        <input type="radio" name="rdb">
        <img src="" alt="">
      </label>

      <label>
        <input type="radio" name="rdb">
        <img src="" alt="">
      </label>

      <label>
        <input type="radio" name="rdb">
        <img src="" alt="">
      </label>

      <label>
        <input type="radio" name="rdb">
        <img src="" alt="">
      </label>

      <label>
        <input type="radio" name="rdb">
        <img src="" alt="">
      </label>

      <label>
        <input type="radio" name="rdb">
        <img src="" alt="">
      </label>

      <label>
        <input type="radio" name="rdb">
        <img src="" alt="">
      </label>

      <label>
        <input type="radio" name="rdb">
        <img src="" alt="">
      </label>
    </div>
  </div>
</div>
</div>
<!-- /HTML -->
</div>
<!-- ============================================ -->