<h1>Element <small>example</small></h1>
<br>

<div class="alert alert-info">
  <p>[CSS]</p>
  <b>###</b>
  <br><br>
  <p>[JS]</p>
  <b>###</b>
</div>

<h4>Basic usage</h4>
<!-- ============================================ -->
<div class="encodeHTML-wrap">
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
<li role="presentation" class="active"><a href="#HTML" aria-controls="HTML" role="tab" data-toggle="tab">HTML</a></li>
<li role="presentation"><a href="#CSS" aria-controls="CSS" role="tab" data-toggle="tab">CSS</a></li>
<li role="presentation"><a href="#JS" aria-controls="JS" role="tab" data-toggle="tab">JS</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
<!-- HTML -->
<div role="tabpanel" class="encodeHTML tab-pane active" id="HTML">
//
</div>
<!-- /HTML -->

<!-- CSS -->
<div role="tabpanel" class="encodeHTML tab-pane" id="CSS">
//
</div>
<!-- /CSS -->

<!-- JS -->
<div role="tabpanel" class="encodeHTML tab-pane" id="JS">
//
</div>
<!-- /JS -->
</div>
</div>
<!-- ============================================ -->




<!-- ============================================ -->
<div class="encodeHTML-wrap">
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
<li role="presentation" class="active"><a href="#HTML" aria-controls="HTML" role="tab" data-toggle="tab">HTML</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
<!-- HTML -->
<div role="tabpanel" class="encodeHTML tab-pane active" id="HTML">
//
</div>
<!-- /HTML -->
</div>
</div>
<!-- ============================================ -->

$(document).ready(function () {
  
});