<h1>Form <small>input</small></h1>
<p>Commonly used button.</p>
<br>

<h4>Basic usage</h4>
<div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Please input">
  </div>

  <div class="form-group">
    <input type="text" class="form-control flat" placeholder="Please input">
  </div>
</div>
<div class="encodeHTML-wrap">
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
<li role="presentation" class="active"><a href="#HTML" aria-controls="HTML" role="tab" data-toggle="tab">HTML</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
<!-- HTML -->
<div role="tabpanel" class="encodeHTML tab-pane active" id="HTML">
<!-- Default -->
<div class="form-group">
  <input type="text" class="form-control" placeholder="Please input">
</div>

<!-- Flat -->
<div class="form-group">
  <input type="text" class="form-control flat" placeholder="Please input">
</div>
</div>
<!-- /HTML -->
</div>
</div>

<h4>Disabled</h4>
<div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Please input" disabled>
  </div>

  <div class="form-group">
    <input type="text" class="form-control flat" placeholder="Please input" disabled>
  </div>
</div>

<div class="encodeHTML-wrap">
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
<li role="presentation" class="active"><a href="#HTML" aria-controls="HTML" role="tab" data-toggle="tab">HTML</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
<!-- HTML -->
<div role="tabpanel" class="encodeHTML tab-pane active" id="HTML">
<div class="form-group">
  <input type="text" class="form-control" placeholder="Please input" disabled>
</div>

<div class="form-group">
  <input type="text" class="form-control flat" placeholder="Please input" disabled>
</div>
</div>
<!-- /HTML -->
</div>
</div>

<h4>Clearable</h4>
<div>
  <div class="form-group">
    <div class="clearable">
      <input type="text" class="form-control" placeholder="Please input">
      <span class="clearable-del">x</span>
    </div>
  </div>
</div>

<div class="encodeHTML-wrap">
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
<li role="presentation" class="active"><a href="#rs_html" aria-controls="rs_html" role="tab" data-toggle="tab">HTML</a></li>
<li role="presentation"><a href="#rs_js" aria-controls="rs_js" role="tab" data-toggle="tab">JS</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
<!-- HTML -->
<div role="tabpanel" class="encodeHTML tab-pane active" id="rs_html">
<div class="form-group">
  <div class="clearable">
    <input type="text" class="form-control" placeholder="Please input">
    <span class="clearable-del">x</span>
  </div>
</div>
</div>
<!-- /HTML -->

<!-- JS -->
<div role="tabpanel" class="encodeHTML tab-pane" id="rs_js">
$(document).ready(function () {
  clearable();
});
</div>
<!-- /JS -->
</div>
</div>


<h4>Input group no-line</h4>
<div class="form-group">
  <div class="input-group left">
    <span class="input-group-addon flat"><i class="material-icons">check</i></span>
    <input id="email" type="text" class="form-control flat" placeholder="Email">
  </div>
</div>

<div class="form-group">
  <div class="input-group right">
    <input id="email" type="text" class="form-control" placeholder="Email">
    <span class="input-group-addon"><i class="material-icons">check</i></span>
  </div>
</div>
<div class="encodeHTML-wrap">
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
<li role="presentation" class="active"><a href="#HTML" aria-controls="HTML" role="tab" data-toggle="tab">HTML</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
<!-- HTML -->
<div role="tabpanel" class="encodeHTML tab-pane active" id="HTML">
<!-- Left -->
<div class="input-group left">
  <span class="input-group-addon flat"><i class="material-icons">check</i></span>
  <input id="email" type="text" class="form-control flat" placeholder="Email">
</div>

<!-- Right -->
<div class="input-group right">
  <input id="email" type="text" class="form-control" placeholder="Email">
  <span class="input-group-addon"><i class="material-icons">check</i></span>
</div>
</div>
<!-- /HTML -->
</div>
</div>

<h4>Input group no-line</h4>
<div class="form-group">
  <div class="input-group left no-line">
    <span class="input-group-addon flat"><i class="material-icons">check</i></span>
    <input id="email" type="text" class="form-control flat" placeholder="Email">
  </div>
</div>

<div class="form-group">
  <div class="input-group right no-line">
    <input id="email" type="text" class="form-control" placeholder="Email">
    <span class="input-group-addon"><i class="material-icons">check</i></span>
  </div>
</div>

<!-- ============================================ -->
<div class="encodeHTML-wrap">
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
<li role="presentation" class="active"><a href="#HTML" aria-controls="HTML" role="tab" data-toggle="tab">HTML</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
<!-- HTML -->
<div role="tabpanel" class="encodeHTML tab-pane active" id="HTML">
<!-- Left -->
<div class="input-group left no-line">
  <span class="input-group-addon flat"><i class="material-icons">check</i></span>
  <input id="email" type="text" class="form-control flat" placeholder="Email">
</div>

<!-- Right -->
<div class="input-group right no-line">
  <input id="email" type="text" class="form-control" placeholder="Email">
  <span class="input-group-addon"><i class="material-icons">check</i></span>
</div>
</div>
<!-- /HTML -->
</div>
</div>
<!-- ============================================ -->
