<h1>Form <small>select</small></h1>
<br>

<h4>Basic usage</h4>
<div class="form-group">
  <select class="form-control">
      <option value="">Default</option>
      <option value="">Two</option>
      <option value="">Three</option>
  </select>
</div>

<div class="form-group">
  <select class="form-control flat">
      <option value="">Flat</option>
      <option value="">Two</option>
      <option value="">Three</option>
  </select>
</div>
<!-- ============================================ -->
<div class="encodeHTML-wrap">
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
<li role="presentation" class="active"><a href="#HTML" aria-controls="HTML" role="tab" data-toggle="tab">HTML</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
<!-- HTML -->
<div role="tabpanel" class="encodeHTML tab-pane active" id="HTML">
<div class="form-group">
  <select class="form-control">
    <option value="">Default</option>
    <option value="">Two</option>
    <option value="">Three</option>
  </select>
</div>

<!-- Flat -->
<div class="form-group">
  <select class="form-control flat">
    <option value="">Flat</option>
    <option value="">Two</option>
    <option value="">Three</option>
  </select>
</div>
</div>
<!-- /HTML -->
</div>
</div>
<!-- ============================================ -->

<h4>Select icon</h4>
<div class="form-group">
  <div class="box-icon-select">
    <i class="material-icons icon-left">done</i>
    <select class="form-control">
      <option value="">Flat</option>
      <option value="">Two</option>
      <option value="">Three</option>
    </select>
  </div>
</div>
<!-- ============================================ -->
<div class="encodeHTML-wrap">
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
<li role="presentation" class="active"><a href="#HTML" aria-controls="HTML" role="tab" data-toggle="tab">HTML</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
<!-- HTML -->
<div role="tabpanel" class="encodeHTML tab-pane active" id="HTML">
<div class="form-group">
  <div class="box-icon-select">
    <i class="material-icons icon-left">done</i>
    <select class="form-control">
      <option value="">Flat</option>
      <option value="">Two</option>
      <option value="">Three</option>
    </select>
  </div>
</div>
</div>
<!-- /HTML -->
</div>
</div>
<!-- ============================================ -->