<ul>
  <li><a href="#" onclick="loadComponent('button')">Button</a></li>
  <li>
    Form
    <ul>
      <li><a href="#" onclick="loadComponent('input')">Input</a></li>
      <li><a href="#" onclick="loadComponent('radio')">Radio</a></li>
      <li><a href="#" onclick="loadComponent('checkbox')">Checkbox</a></li>
      <li><a href="#" onclick="loadComponent('switch')">Switch</a></li>
      <li><a href="#" onclick="loadComponent('select')">Select</a></li>
      <li><a href="#" onclick="loadComponent('select2')">Select 2</a></li>
      <li><a href="#" onclick="loadComponent('select-bootstrap')">Select bootstrap</a></li>
    </ul>
  </li>
  <li>
    Javascript
    <ul>
      <li><a href="#" onclick="loadComponent('input-number')">Input number</a></li>
      <li><a href="#" onclick="loadComponent('dropdown')">Dropdown</a></li>
      <li><a href="#" onclick="loadComponent('colorpicker')">Colorpicker</a></li>
      <li><a href="#" onclick="loadComponent('tag-input')">Tags input</a></li>
    </ul>
  </li>
  <li>
    Components
    <ul>
      <li><a href="#" onclick="loadComponent('price')">#Price</a></li>
    </ul>
  </li>
</ul>