<h1>Form <small>switch</small></h1>
<br>

<h4>Basic usage</h4>
<div class="row">
    <div class="col-md-2">
        <label class="wrap-switch-text">
            <label class="wrap-switch">
                <input type="checkbox" class="switch-input" checked="checked">
                <span class="switch-label" data-on="On" data-off="Off"></span>
                <span class="switch-handle"></span>
            </label>
        </label>
    </div>

    <div class="col-md-2">
        <label class="wrap-switch-text">
            <label class="wrap-switch">
                <input type="checkbox" class="switch-input" checked="checked">
                <span class="switch-label" data-on="On" data-off="Off"></span>
                <span class="switch-handle"></span>
            </label>
            switch
        </label>
    </div>

    <div class="col-md-2">
        <label class="wrap-switch-text">
            <label class="wrap-switch">
                <input type="checkbox" class="switch-input">
                <span class="switch-label" data-on="On" data-off="Off"></span>
                <span class="switch-handle"></span>
            </label>
            switch
        </label>
    </div>

    <div class="col-md-2">
        <label class="wrap-switch-text">
            <label class="wrap-switch">
                <input type="checkbox" class="switch-input" disabled="disabled">
                <span class="switch-label" data-on="On" data-off="Off"></span>
                <span class="switch-handle"></span>
            </label>
            <span class="fw-bold color-pink">switch</span>
        </label>
    </div>
</div>

<!-- ============================================ -->
<div class="encodeHTML-wrap">
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
<li role="presentation" class="active"><a href="#HTML" aria-controls="HTML" role="tab" data-toggle="tab">HTML</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
<!-- HTML -->
<div role="tabpanel" class="encodeHTML tab-pane active" id="HTML">
<!-- Default -->
<label class="wrap-switch-text">
    <label class="wrap-switch">
        <input type="checkbox" class="switch-input" checked="checked">
        <span class="switch-label" data-on="On" data-off="Off"></span>
        <span class="switch-handle"></span>
    </label>
</label>

<!-- Text -->
<label class="wrap-switch-text">
    <label class="wrap-switch">
        <input type="checkbox" class="switch-input" checked="checked">
        <span class="switch-label" data-on="On" data-off="Off"></span>
        <span class="switch-handle"></span>
    </label>
    switch
</label>

<!-- Disabled -->
<label class="wrap-switch-text">
    <label class="wrap-switch">
        <input type="checkbox" class="switch-input" disabled="disabled">
        <span class="switch-label" data-on="On" data-off="Off"></span>
        <span class="switch-handle"></span>
    </label>
    <span class="fw-bold color-pink">switch</span>
</label>
</div>
<!-- /HTML -->
</div>
</div>
<!-- ============================================ -->