[class^="blind-wall"] {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #00000096;
	opacity: 0;
	z-index: -1;
	@include size(100%, 100%);
	@include transition(.3s);

	&.open {
		opacity: 1;
		z-index: $blind-zindex;
	}
}

.open-overflow {
	overflow: hidden;
}

.open-menu {
	aside.main-sidebar {
		left: 0;
	}
}

.open-menu--push {
	.wrapper-content {
		padding-left: 260px !important;
	}

	aside.main-sidebar {
		left: 0;
	}
}

.navbar-fixed {
	header.main-header {
		width: 100%;
		position: fixed;
		top: 0;
	}

	div.wrapper-content {
	    padding-top: 70px;
	}
}