.btn {
    outline: none !important;
    min-height: 35px;
    box-shadow: 0 0 0 0px transparent;
    @include transition(0.15s);
    @include border-radius($border-radius-button);
}

.btn-primary {
    background-color: $btn-primary-bg;

    &.active,
    .open > &.dropdown-toggle,
    &:active,
    &:focus {
        box-shadow: 0 0 0 3px #f6366578 !important;
        background-color: #f63665 !important;
        border: solid 1px #f63664 !important;
    }

    &:hover {
        border: solid 1px #f63664;
        background-color: $pink-color-hv;
    }
}

.btn-default {
    border: solid 1px $btn-default-border;

    &:active,
    &:focus {
        box-shadow: 0 0 0 3px #f1f1f1 !important;
        border: solid 1px $btn-default-border !important;
    }

    &:hover {
        background-color: #b1bfce36;
    }
}

.btn-pink {
    background-color: $pink-color;
    color: $btn-pink-color !important;
    border: solid 1px $pink-color;

    &:active,
    &:focus {
        box-shadow: 0 0 0 3px #f6366578 !important;
        background-color: #f63665 !important;
        border: solid 1px #f63664 !important;
    }

    &:hover {
        border: solid 1px #f63664;
        background-color: $pink-color-hv;
    }
}

.btn-hvr-pink {
    &:hover {
        border: solid 1px #f63664;
        color: $white !important;
        background-color: $pink-color-hv;
    }

    &:active,
    &:focus {
        color: $white !important;
        box-shadow: 0 0 0 3px #f6366578 !important;
        background-color: #f63665 !important;
        border: solid 1px #f63664 !important;
    }

    &.active {
        color: $white !important;
        box-shadow: 0 0 0 3px #f6366578 !important;
        background-color: #f63665 !important;
        border: solid 1px #f63664 !important;
    }
}

.btn-link--primary {
    color: $blue;

    &:hover {
        color: $purple;
    }

    &:focus {
        color: $purple;
    }
}

.ali-icon-down {
    position: relative;

    &:after {
        content: "\e917";
        position: absolute;
        font-family: "icomoon" !important;
        font-size: 7px;
        top: 50%;
        right: 5px;
        transform: translate(-50%, -50%);
    }
}

.btn--icon {
    height: 35px;
    width: 35px;
    font-size: 17px;
    padding: 0;
    text-align: center;
    vertical-align: top;
}

$transition-button: 0.1s;

// Version 1.0.1
.button, a.button {
    text-decoration: none;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    color: #606266;
    text-align: center;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    transition: $transition-button; 
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 4px;
    user-select: none;

    &:hover {
        opacity: 0.8;
    }

    &:active {
        opacity: 1;
    }

    &--default {
        &:hover {
            color: #000000;
            border-color: #b3b3b3;
            background-color: #e6e6e6;
        }
    
        &:active {
            border-color: #b1b1b1;
        }
    }

    &--primary {
        background-color: #242539;
        color: #fff;
        border-color: #242539;
    }

    &--pink {
        background-color: #F63665;
        color: #fff;
        border-color: #F63665;
    }
}

.outline.button {
    &--default {
        &:hover {
            color: #000000;
            border-color: #b3b3b3;
            background-color: #e6e6e6;
        }
    
        &:active {
            border-color: #b1b1b1;
        }
    }

    &--primary {
        background-color: transparent;
        color: #242539;
        border-color: #242539;

        &:hover {
            background-color: #242539;
            color: #fff;
        }
    }

    &--pink {
        background-color: transparent;
        color: #F63665;
        border-color: #F63665;

        &:hover {
            background-color: #F63665;
            color: #fff;
        }
    }
}

.rounded.button {
    border-radius: 30px;
}

.flat.button {
    border-radius: 0;
}

.button[disabled] {
    opacity: 0.5;
    cursor: no-drop;
    user-select: none;
}

.link.button {
    background-color: transparent !important;
    border-color: transparent !important;

    &--default {
        color: #333 !important;
    } 
    
    &--primary {
        color: #242539 !important;
    } 
    
    &--pink {
        color: #F63665 !important;
    }
}

.icon.button {
    i {
        vertical-align: middle;
    }

    &.left i {
        margin-right: 10px;
    }

    &.right i {
        margin-left: 10px;
    }
}

.button {
    &--lg {
        padding: 17px 20px;
    }

    &--md {
        
    }

    &--sm {
       
    }

    &--xs {
        padding: 5px 15px;
    }
}