.dashboard-list-item {
    padding: 25px 20px;
    padding-right: 5px;
    transition: $time-transition / 2;

    .dashboard-list-item__number,
    a,
    button {
        transition: $time-transition / 2;
    }

    .media-left {
        padding-right: 20px;
    }

    &__number {
        color: #ffb303;
    }

    .media-left__icon {
        width: 38px;
        height: 38px;
        display: inline-block;
        text-align: center;
        line-height: 38px;
        font-size: 22px;
        background-color: #ffb305;
        border-radius: 50%;
        color: #fff;
        transition: $time-transition / 2;
    }

    &:hover {
        background-color: #f63665 !important;

        color: #fff !important;

        .dashboard-list-item__number,
        a,
        button {
            color: #fff;
        }

        .dropdown-menu {
            a {
                color: #262626;
            }
        }

        .media-left__icon {
            background-color: #fff;
            color: #f63665;
        }
    }
}
