.dropdown-menu {
    padding: 3px 0;
    font-size: 13px;
    margin-left: -3px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: -3px;

    li {
        a {
            padding: 12px;
            color: #4d4f5c;

            &:hover,
            &:focus {
                background-color: #e9e9f0;
            }
        }
    }
}

.dropdown--caret[aria-expanded="true"] {
    &.btn-hvr-pink {
        &:after {
            color: #fff;
        }
    }
}

.dropdown,
.dropup {
    &--caret {
        position: relative;
        padding-right: 40px;

        &:after {
            content: "\e917";
            position: absolute;
            right: 10px;
            font-size: 8px;
            color: #a5a2a2;
            font-family: "icomoon" !important;
            background-repeat: no-repeat;
            top: 50%;
            transform: translate(-50%, -50%);
            transform-origin: 25% 25%;
        }

        &.btn-hvr-pink:hover:after {
            color: #fff;
        }
    }

    &--demo {
        padding-left: 40px;

        &__show {
            position: absolute;
            top: 50%;
            left: 20px;
            background-color: #777;
            transform: translate(-50%, -50%);
            width: 22px;
            height: 22px;
            @include border-radius(7px);
        }
    }

    .dropdown-menu {
        &--rdb {
            border: none;
            box-shadow: none;
            padding: 0;
            margin: 0;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: -3px;

            input[type="radio"] {
                display: none;
            }

            .drop-rdb_1,
            .drop-rdb_2 {
                float: left;
                width: 100%;
                border: 1px solid #d7dae2;
                border-radius: 4px;
                padding: 3px 0;
                background-color: #fff;
            }

            .drop-rdb_2 {
                clear: left;
                margin-top: 8px;
            }

            label {
                float: left;
                margin: 3px 5px;
                padding: 5px;
                border-radius: 3px;
                cursor: pointer;
                transition: 0.15s;
                border: solid 1px transparent;
                height: 34px;
                width: 34px;
                display: inline-block;

                &:nth-child(7n + 0) {
                    clear: left;
                }

                &:hover {
                    opacity: 0.5;
                }
            }
        }

        &--single {
            border: 1px solid #d7dae2;
            background-color: #fff;
            padding: 3px 0 !important;

            label {
                font-weight: 500;
                width: 100%;
                float: none;
                border: none !important;
                height: inherit;
                width: initial;
                display: block;
                margin: 0;
                padding: 8px 15px;
                @include transition($time-transition/2);

                &:nth-child(7n + 0) {
                    clear: none;
                }

                &:hover {
                    background-color: #e9e9f0;
                }

                img {
                    margin-right: 15px;
                }
            }
        }

        &--right {
            left: 100%;
            top: 0;
            transform: translate(5%, 0%);
            margin-top: -2px;
            margin-left: -1px;
        }
    }
}

.btn-group.pull-right .dropdown-menu {
    margin-right: -3px;
}

.dropdown.flex {
    [class^="drop-"] {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &:after {
            content: "";
            flex: auto;
        }
    }
}

.action-group {
    .btn:focus {
        & + .dropdown-menu{
            animation-name: ani-dropdown;
            animation-duration: 0.2s;
            animation-timing-function: ease-in-out;
        }
    }
}

@keyframes ani-dropdown {
    from {
        top: 150%;
        opacity: 0;
    }
    to {
        top: 100%;
        opacity: 1;
    }
}

// version 1.0.0
.dropdown--default .dropdown-menu--rdb {
    margin-left: 0;
}

.dropdown--horizontal {
    display: inline-block;

    .dropdown-menu--rdb label {
        margin-right: -1px;

        &:nth-child(7n + 0) {
            clear: none;
        }
    }

    .dropdown-menu--right {
        margin-top: 0px;
    }
}
