textarea, input[type="textbox"] {
	@include transition($time-transition);
}

textarea.form-control {
	padding: 6px 20px;
}

.form-control {
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-shadow: 0 0 0 0px $form-control-box-shadow-color;
	padding: 0 20px;
	min-height: 40px;
	font-size: 15px;
	border-color: $border-solid-color;
	@include border-radius($border-radius-input);

	&:focus {
		background-color: #fff;
		border-color: $border-solid-color-action;
		outline: 0;
		box-shadow: $form-control-box-shadow-action;
	}

	&[type="date"] {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

.input-group {
	&--search {
		 input[type="text"] {
	    	min-height: 35px;

	    	&:focus {
	    		border-left: solid 1px rgba(246, 54, 100, 0.52) !important;
	    	}
	    }

		button {
			height: 40px;
			background-color: #fff;
			border: solid 1px $border-solid-color !important;

			span::before {
				color: #BCBCCB;
			}
		}
	}

	&--left {
		button {
			border-right: 0 !important;
			
			&:active, &:focus {
				border-right: 0 !important;
			}
		}
	}

	&--right {
		
	}

	button {
		height: 35px;
		margin-top: -1px;
		margin-bottom: -1px;
	}
}

textarea {
	&.no-resize {
		resize: none;
	}
	
	// Ngang
	&.horizontal-resize {
		resize: horizontal;
	}
	
	// Dọc
	&.vertical-resize {
		resize: vertical;
	}
}

.box-icon-select,
.box-icon {
	position: relative;

	.icon-left {
		position: absolute;
		top: 50%;
		left: 15px;
		transform: translateY(-50%);
	}

	input {
		padding-left: 40px;
	}

	select {
		padding-left: 40px;
	}
}


// Version 1.0.1
input[type="text"] {
	&.flat {
		border-radius: 0;
	} 
}

.clearable {
	position: relative;

	.clearable-del {
		position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    background-color: #f63665;
    padding: 5px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 8px;
    text-align: center;
    color: #fff;
		cursor: pointer;
		display: none;
		font-size: 12px;
		
		&:hover {
			opacity: 0.8;
		}
	}
}

.input-group .input-group-addon.flat {
	border-radius: 0;
}

.input-group {
	&.left,
	&.right {
		.input-group-addon {
			background-color: transparent;
			border: solid 1px #E8E9EC;
		}
	}

	&.left {
		.input-group-addon {
			border-right: 0;
		}
	}

	&.right {
		.input-group-addon {
			border-left: 0;
		}
	}
}

.input-group.no-line {
	&.left input[type="text"] {
		border-left: solid 1px #fff;

		&:focus {
			border-left: solid 1px rgba(246, 54, 100, 0.52);
		}
	}

	&.right input[type="text"] {
		border-right: solid 1px #fff;

		&:focus {
			border-right: solid 1px rgba(246, 54, 100, 0.52);
		}
	}
}

.group--number {
	display: flex;

	button {
		&:first-child {
			border-radius: 8px 0px 0px 8px;
			border-right: 0;
		}

		&:last-child {
			border-radius: 0 8px 8px 0;
			border-left: 0;
		}

		&:hover {
			color: #f63665;
		}
	}

	input[type="text"] {
		border-radius: 0;
		position: relative;
		z-index: 1;
		text-align: center;
		padding-left: 5px;
		padding-right: 5px;
	}
}

.group--number.disabled {
	button, input[type="text"] {
		user-select: none;
		pointer-events: none;
		background-color: #f9f9f9;
	}
}

.group--number.group--xs {
	button {
		padding: 5px 15px;
	}

	button, input[type="text"] {
		height: 26px;
		min-height: 20px;
	}
}