.wrapper-owl {
	max-width: 600px;
}

.ali-owl.ali-owl--style-1 {
	.owl-dots {
		bottom: 5%;
		position: absolute;
		width: 100%;
		
		.owl-dot.active span, 
		.owl-theme .owl-dots .owl-dot:hover span {
			background-color: #707070 !important;
		}

		.owl-dot.active span,
		.owl-dot:hover span {
			background-color: #F63665 !important;
		}
	}

	.owl-nav {
		position: absolute !important;
		top: 50% !important;
		left: 50% !important;
		height: 0 !important;
		transform: translate(-50%, -50%) !important;
		width: 100% !important;

		[class*=owl-] {
			transform: translateY(-50%) !important;
			margin: 0 !important;
			width: 28px;
			height: 100px;
			color: $blue !important;
			@include transition($time-transition);

			&:hover {
				background-color: $blue !important;
				color: $white !important;
			}
		}
		
		.owl-prev,
		.owl-next {
			position: relative;
			background-color: #fff;
			@include opacity(.4);

			> span {
				@include fix-translate();
			}

			&:hover {
				@include opacity(.7);
			}
		}

		.owl-prev {
			float: left;
			border-radius: 0px 4px 4px 0px;
		}	

		.owl-next {
			float: right;
			border-radius: 4px 0px 0px 4px;
		}
	}
}

.ali-owl-btn button {
	margin: 3px;
}