.wrapper-preview-real {
    padding: 15px;

    &.bg-dark-blue {
        .preview-real__header {
            label {
                color: #fff;
            }
        }
    }
}

.preview-real {
    &__header {
    }

    &__content {
        padding: 35px 20px;
    }

    &__wrapper-media {
        .media {
            border-bottom: solid 1px #eee;
            padding-bottom: 35px;
            padding-top: 30px;

            &:last-child {
                border-bottom: none;
            }
        }
    }
}

.modal_preview_real {
    position: fixed;
    top: 30%;
    right: 15px;
    opacity: 0.5;
    z-index: 9;

    &:hover {
        opacity: 1;
    }
}

#preview-real .modal-header {
    padding-bottom: 0;
    border-bottom: 0;
}
