.wrapper-preview-img {
	label {
		position: relative;
		cursor: pointer;

		[class^="icon-"] {
			position: absolute;
			bottom: 0;
			right: 2px;
			background-color: $purple;
			border-radius: 50%;
			color: #fff;
			text-align: center;
			line-height: 20px;
			font-size: 12px;
			@include size(20px, 20px);
		}

		img {
		    cursor: pointer;
			@include size(90px, 90px);
		}
	}
}

.wrapper-up-photo {
	padding-top: 15px;
	
	&__button {
		line-height: 55px;
		@include size(60px, 60px);

		span {
			font-size: 22px;
			color: #cccccc
		}

		&:active, &:hover, &:focus {
			span {
				color: #fff;
			}
		}
	}

	img {
		@include size(60px, 60px);
	}

	&__item {
		padding-right: 15px;
		padding-bottom: 15px;
	}
}