$light-red: #F63663;
$light-red-hvr: #d8335b;
$purple: #F63665;
$blue: #242538;
$dark-blue: #242539;
$white: #fff;

$bg-white: #fff;

$time-transition: .3s;
// ------------------------------------

// button
$border-radius-button: 4px;

$btn-default-bg: #fff;
$btn-primary-bg: $dark-blue;
$btn-default-border: #D7DAE2;

$btn-pink-color: $white;
$btn-pink-bg: $purple;

$pink-color: $purple;
$pink-color-hv: $light-red-hvr;
$grey-color: #A5A4BF;
$grey-400-color: #4D4F5C;
$grey-800-color: #838296;
$dark-blue-color: $dark-blue;

// switch
$switchTransition: ($time-transition / 2) ease-out;

// form-control
$border-radius-input: 4px;

$border-solid-color: #E8E9EC;
$border-solid-color-action: rgba(246, 54, 100, 0.52);

$form-control-box-shadow-color: rgba(0,123,255,.25);
$form-control-box-shadow-action: 0 0 0 3px rgba(246, 54, 100, 0.15);

// Rating
$rating-star-bg: #FFB303;
$rating-star-border: #FFB303;

// pagination
$color-pagination-active:  #fff;
$bg-pagination-active: $blue;
$bg-pagination-hvr-active: #2f314c;

// Toastr
$toast-info-color: #4D4F5C;

$toast-success-bg: #4AD991;
$toast-info-bg: #FFFFFF;
$toast-warning-bg: #FFB303;
$toast-error-bg: #F63665;

// modal 
$modal-border-radius: 0;